.post-meta {
    display: flex;
}

.post-meta__author-avatar {
    background-color: $fb-blue;
    border-radius: 50%;
    color: white;
    font-size: 2.0rem;
    margin-right: $tiny-size;
    height: 4.0rem;
    width: 4.0rem;

    line-height: 4.0rem;
    text-align: center;
}

.post-meta__author-avatar:hover {
    text-decoration: none;
}

.post-meta__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-meta__author-name {
    font-weight: bold;
}

.post-meta__timestamp {
    color: $grey;
    font-size: $m-minus-size;
}
