.all-comments {
    margin-top: $tiny-size;
}

.comment {
    padding: $tiny-size 0;
    font-size: $m-minus-size;
    color: $dark-grey;
    display: flex;
    align-items: baseline;
}

.comment__author-avatar {
    display: inline-block;
    color: white;
    text-align: center;
    width: $l-size;
    height: $l-size;
    line-height: $l-size;
    border-radius: 50%;
    background-color: $fb-blue;
    margin-right: $tiny-size;
    flex-shrink: 0;
}

.comment__author-name {
    font-weight: bold;
    margin-right: $tiny-size;
}

.comment__body {
    background-color: $light-grey;
    border-radius: $m-minus-size;
    margin: 0;
    padding: 0.7rem 0.9rem;
    white-space: pre-line;
    word-break: break-word;
}

.comment-action {
    color: $grey;
    margin: 0;
    padding: 0.2rem 0.9rem;
    font-size: $s-size;
}

.comment-action__like:hover, .comment-action__comment:hover, .comment-action__timestamp:hover {
    cursor: pointer;
}

.comment-action__like, .comment-action__comment {
    color: $fb-blue;
}

.comment-action__timestamp {
    color: $grey;
}
