.comment {
    padding: $tiny-size 0;
    font-size: $m-minus-size;
    color: $dark-grey;
    display: flex;
}

.comment--hidden {
    display: none;
}

.comment__author-avatar {
    display: inline-block;
    color: white;
    text-align: center;
    width: $l-size;
    height: $l-size;
    line-height: $l-size;
    border-radius: 50%;
    background-color: $fb-blue;
    margin-right: $tiny-size;
    flex-shrink: 0;
}

.comment__author-name {
    font-weight: bold;
    margin-right: $tiny-size;
}

.comment__body {
    display: flex;
}

.comment__text-section {
    background-color: $light-grey;
    border-radius: $m-minus-size;
    display: inline-block;
    margin: 0 0.4rem 0 0;
    padding: 0.7rem 0.9rem;
    white-space: pre-line;
    word-break: break-word;
}

.comment__text-section, .comment-action__timestamp {
    // 文字可反白
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.comment__text {
    text-align: justify;
}

.comment__like-count {
    background-color: white;
    color: $grey;
    flex-shrink: 0;
    font-size: 1.1rem;
    padding: 0.1rem 0.3rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    margin-top: auto;
    margin-bottom: 0.1rem;
}

.comment__like-count--hidden {
    visibility: hidden;
}

.comment-action {
    color: $grey;
    margin: 0;
    padding: 0.2rem 0 0.2rem 0.9rem;
    font-size: $s-size;
}

.comment-action__like:hover,
.comment-action__comment:hover,
.comment-action__hide:hover,
.comment-action__delete:hover,
.comment-action__cancel:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-action__like, .comment-action__comment {
    color: $fb-blue;
}

.comment-action__like--liked {
    font-weight: bold;
    color: $light-blue;
}

.comment-action__delete {
    color: $red;
}
