.comment {
    padding: $tiny-size 0;
    font-size: $m-minus-size;
    color: $dark-grey;
    display: flex;
}

.comment__author-avatar {
    display: inline-block;
    color: white;
    text-align: center;
    width: $l-size;
    height: $l-size;
    line-height: $l-size;
    border-radius: 50%;
    background-color: $fb-blue;
    margin-right: $tiny-size;
    flex-shrink: 0;
}

.comment__author-name {
    font-weight: bold;
    margin-right: $tiny-size;
}

.comment__body {
    background-color: $light-grey;
    border-radius: $m-minus-size;
    display: inline-block;
    margin: 0;
    padding: 0.7rem 0.9rem;
    white-space: pre-line;
    word-break: break-word;
}

.comment-action {
    color: $grey;
    margin: 0;
    padding: 0.2rem 0 0.2rem 0.9rem;
    font-size: $s-size;
    display: flex;

    // 防止反白
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comment-action__like:hover, .comment-action__comment:hover, .comment-action__timestamp:hover, .comment-action__delete:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-action__like, .comment-action__comment {
    color: $fb-blue;
}

.comment-action__delete {
    color: $red;
}

.comment-action__timestamp {
    color: $grey;
}

.comment-action__like-count {
    margin-left: auto;
    position: relative;
    bottom: 0.8rem;
    background-color: lighten($light-blue, 3%);
    border-radius: 0.8rem;
    padding: 0.3rem 0.5rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.0rem;
}
