.post-wrapper {
    background-color: white;
    color: $dark-grey;
    padding: $s-size;
    border: 0.1rem solid darken($light-grey, 4%);
    border-left: none;
    border-right: none;
    margin: 0.6rem auto 0 auto;
}

// 平板尺寸（直立）以上
@media only screen and (min-width: 500px) {
    .post-wrapper {
        max-width: 500px;
        border: 0.1rem solid darken($light-grey, 4%);
    }
}
