.post-wrapper {
    background-color: white;
    color: $dark-grey;
    padding: $m-minus-size;
}

// 平板（直立）
@media only screen and (min-width: 600px) {
    .post-wrapper {
        max-width: 500px;
        margin: $s-size auto;
    }
}
