// colors
$light-grey: rgb(233, 235, 238);
$fb-blue: rgb(72, 104, 173);
$light-blue: rgb(76, 130, 247);
$dark-grey: rgb(29, 33, 41);
$grey: rgb(98, 103, 111);
$red: rgb(214, 72, 72);

// spacing
$tiny-size: 0.4rem;
$s-size: 1.3rem;
$m-minus-size: 1.4rem;
$m-size: 1.5rem;
$l-size: 2.8rem;
$xl-size: 3.6rem;
$xxl-size: 4.8rem;